/*
 * Colour Buttons for jstoolbar
 */
.jstb_red {
        background-image: url(../images/bt_red.png);
}
.jstb_blue {
        background-image: url(../images/bt_blue.png);
}
.jstb_green {
        background-image: url(../images/bt_green.png);
}
.jstb_collapse {
        background-image: url(../images/bt_collapse.png);
}
.jstb_thumb {
        background-image: url(../images/bt_thumb.png);
}

